.album-editor {
    min-width: 1095px;
    width: 73.3vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-content: center;

    background-color: #f1f1f1;

    border-left: 2px solid #b4b4b4;
    border-right: 2px solid #b4b4b4;

    overflow-y: auto;
}

.album-pages {
    max-height: 350px;
    height: 100%;
    max-width: 700px;
    width: 100%;

    margin: 103px auto;

    display: flex;
    flex-direction: row;

    background-color: #ffffff;
    border: 1px solid #bdbdbd;
}

.album-pages-left {
    height: 350px;
    width: 350px;

    flex-basis: 50%;

    border-right: 1px solid #bdbdbd;
}

.album-pages-right {
    height: 350px;
    width: 350px;

    flex-basis: 50%;

    border-right: 1px solid #bdbdbd;
}

.photo-container-1 {
    position: relative;

    height: 200px;
    width: 250px;

    background-color: #a4a4a4;

    top: 40px;
    left: 50px;

    display: flex;
    justify-content: flex-start;
    align-content: center;

    overflow: hidden;
}

.photo-container-2 {
    position: relative;

    max-height: 300px;
    height: 100%;
    width: 250px;

    background-color: #a4a4a4;

    top: 25px;
    left: 50px;

    display: flex;
    justify-content: flex-start;
    align-content: center;

    overflow: hidden;
}

.photo-container-3 {
    position: relative;

    height: 300px;
    width: 300px;

    background-color: #a4a4a4;

    top: 25px;
    left: 37px;

    display: flex;
    justify-content: flex-start;
    align-content: center;

    overflow: hidden;
}

.album__buttons {
    position: relative;

    margin: 0px 30px;

    display: flex;
    flex-direction: row;
}

.export {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-start;
}

.clear {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
}

.button_export {

}

.button_clear {

}